#faq {
  padding-bottom: 20px;
}

.videodes {
  padding: 0px 30px 30px 30px;
}

.videofrm {
  height: 200px;
  width: 100%;
}

.bgvideos {
border: 1px solid rgb(48, 48, 48); 
background-color:rgb(26, 26, 26);
}

#heroVideo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.3);
  width: 100%;
  height: 100%;
  pointer-events: none;
  max-width: 100%; 
}

.caminhoshero {
    width: 500px;
  }

.btn2nd {
    margin-top: 4.8px;
}

html {
  scroll-behavior: smooth; 
}

  @media only screen and (max-width: 600px) {
    .caminhoshero {
      width: 350px;
    }

    .btn2nd {
      display: none;
    }
    
    #heroVideo {
    transform: scale(4);
    }

    #inscrdesk {
      display: none;
    }
    
    body, html {
      overflow-x: hidden;
       height: 100vh;
    }

.jornada {
  margin: 0 0 0;
}

  }

  @media (min-width: 1200px) {
   .btn2nd {
    margin-left: 390px;
   }
  }

  @media (min-width: 576px) {
    #inscrmob {
      display: none !important;
    }

.herocontent {
  padding-top: 50px !important;
}

  }

  